/* @media (min-width: 768px) { */

.wrapper {
  height: 90vh;
  margin: 0 auto;
}

.toolbar-container {
  background-color: var(--white);
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
}

header {
  width: 100%;
  background-image: url(../images/Img/Header\ bg@2x.svg);
  background-repeat: no-repeat;
  border-bottom-left-radius: 15%;
  margin-top: -1px;
}

/* header nav */
.top-nav {
  width: 80%;
  margin: auto;
  align-items: center;
}

.humber {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vector {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 4px 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  transform: scale(0.8);
  transition: ease-in-out;
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
  color: var(--white);
  background-color: var(--skyblue);
}

.header-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting {
  /* width: 80%; */
  height: 122px;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  margin: 9rem 10rem 0.1rem 0;
}

.intro {
  font-size: 20px;
  line-height: 28px;
  margin: 0 16rem 0.5rem 16rem;
  order: 1;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-left: 15rem;
}

/* ======================================work section ============================================ */

.work-section {
  width: 90%;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 0 auto;
}

.image-container {
  width: 35%;
  margin: 0;
  padding: 0.1rem;
}

.snapShoot-portofolio {
  display: none;
}

.Portfolio-Desk-Card {
  display: inline;
  width: 100%;
  border-radius: 8px;
}

.info-container {
  width: 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.owner-name {
  display: none;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.owner-name2 {
  display: block;
  width: 100%;
  height: 46px;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  color: var(--dark-black);
  margin: 0.1rem 0 0.1rem 0;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
}

.info-head2 {
  display: block;
  width: 75px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  margin: 0.1rem 0 0 0;
}

.info-head {
  display: none;
}

.list-of-course li {
  width: 25%;
  height: 24px;
}

.menu-rails {
  display: inline-block;
  font-weight: 500;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 2px;
  margin-right: 0.2rem;

  /* text-align: center; */
}

.info ul li {
  width: 120px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7a869a;
  list-style-type: square;
  margin-right: 16px;
}

.daily-selection {
  display: none;
}

.daily-selection2 {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  margin-top: 3rem 0 2rem 0;
  padding: 0.4rem;
}

/* .btn {
  width: 30%;
  height: 3rem;
  margin-top: 1rem;
  padding: 0.4rem;
} */

.flex-order {
  order: 2;
}

/* -------------------------------------------Footer------------------------------------- */
.footer-container {
  position: relative;
  width: 100%;
  border-top-right-radius: 16%;

  /* height: 100%; */

  /* border: 2px solid blue; */
}

.about-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 4rem 10rem;

  /* border: 2px solid blue; */
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;

  /* border: 2px solid green; */
  flex: 1;
}

.about-myself {
  width: 100%;
  height: 50px;

  /* margin: 32px 0 0 2px; */
  padding: 4px;
}

.btn-desktop {
  width: 180px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  text-align: center;
  text-decoration: none;
  border: 1px solid #396df2;
  border-radius: 16px;
  transition: ease-in-out 3s;
}

.btn-desktop:enabled {
  color: var(--skyblue);
  border-color: var(--skyblue);
  border: 1px solid var(--skyblue);
}

.btn-desktop:disabled {
  color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
}

.btn-desktop:hover {
  color: var(--white);
  border-color: var(--skyblue);
  background-color: var(--skyblue);
}

.btn-desktop:active {
  color: var(--white);
  border: 1px solid rgb(10, 10, 177);
  background-color: rgb(10, 10, 177);
}

.btn {
  display: none;
}

.language-container {
  margin-top: 0.5rem;
  flex: 1;
}

.soft-skill {
  display: flex;

  /* flex-direction: column; */
  justify-content: space-between;
  align-self: center;
  border-bottom: 1px solid #ccc;
}

.weblang-container {
  /* border: 4px solid blue; */
  display: flex;
  justify-content: start;
  align-items: start;
  height: 140px;
  margin: 0.5rem;
}

.web-lang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 90px;
  width: 100px;
  margin: 0.5rem;
  padding: 3px;
}

.web-lang img {
  width: 50px;
  height: 60px;
}

.web-lang h5 {
  margin: 0.1rem 1rem;
}

/* ========================================Contact me ========================================================= */
.contact-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;

  /* margin-top: -4rem; */
}

.contact-content {
  width: 100%;
  background-image: url(../images/Img/contact\ formbackground\ shapes@2x.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 6rem;
}

.contact-me {
  margin-top: 8rem;
}

.about-us {
  width: 35%;
  margin: 2rem 2rem 0 2rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

input[type=text],
input[type=email] {
  height: 48px;
  width: 435px;
  border-radius: 2px;
}

textarea {
  border-radius: 2px;
}

input[type=submit] {
  float: center;
}

/* } */
