/* =========================================================common===================================================== */
:root {
  --aliceblue: #e5e5e5;
  --white: #fff;
  --primary-color: #6070ff;
  --dark-blue: #344563;
  --skyblue: #7f8cff;
  --dark-grey: #505f79;
  --dark-black: #172b4d;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--aliceblue);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.wrapper {
  height: 100vh;
  margin: 0 auto;
}

.menu-rails,
.desktop {
  display: none;
}

/* ===================================================header================================================================================= */
.toolbar-container {
  /* border: 3px solid black; */
  background-color: var(--white);
  position: relative;
  z-index: 3;
  top: 0;
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

/* header nav */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0 10px 5px;
  padding: 20px;
}

header {
  position: relative;
  height: 552px;
  background: var(--white);
  background-image: url(../images/Img/header-shapes\ mobile@2x.png);
  background-repeat: no-repeat;

  /* border: 1px solid #dfe1e6; */
  border-radius: 16px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  /* margin:0 0 1.2rem 0; */
  margin-top: -2.5rem;
}

/* mylogo */
.logo {
  width: 80px;
  height: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--primary-color);
  padding: 6px;
  margin-left: 15px;
  animation: logo 4s 2s 4s;
}

.humber {
  /* border: 1px solid green; */
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 14px 0 0;
}

.vector {
  position: absolute;

  /* border: 2px solid #acb7c3; */
}

.menu,
.menu-rails,
.desktop {
  display: none;
}

.list-of-course li {
  width: 75px;
  height: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px;
  margin-right: 0.2rem;
  text-align: center;
}

/*  Section header section  */

.greeting {
  height: 146px;
  font-weight: 400;
  font-size: 35px;
  line-height: 36px;
  color: var(--dark-blue);
  margin: 40px 0 0 20px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  /* width: 300px;
  height: 146px; */
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-blue);
  margin: 10px 0 20px 20px;
  padding: 8px;
}

/* header footer section */
.network h4 {
  /* width: 217px; */
  height: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: var(--skyblue);
  margin: 15px 0 10px 10px;
  padding: 10px;
}

.network {
  text-decoration: none;
}

.social-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 0;
  padding-left: 15px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: start;

  /* align-items: center; */
  padding: 3px;
  margin-left: 12px;
}

/* social icons */
.icons {
  align-self: start;
  size: 30px;
  border-radius: 0;
  width: 40px;
  margin: 5px 2px 0 0;
}

@media (max-width: 375px) {
  .header {
    width: 300px;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0 10px -5px;
    padding: 5px;
  }

  .vector {
    margin-left: -10px;
  }

  .icons {
    width: 30px;
    size: 25px;
  }
}

/* ======================================Work section T====================================================== */
.work-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 12px;
  width: 375px;
  height: 552px;
  background: var(--white);
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 1.3rem;
}

.snapShoot-portfolio {
  width: 100%;
  height: 220px;
  border-radius: 8px;
}

.Portfolio-Desk-Card {
  display: none;
}

.owner-name {
  display: block;
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--dark-black);
  margin: 0.1rem 0 0.1rem 0;
}

.owner-name2 {
  display: none;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 0.5rem 0 0.5rem 0;
}

.info-head {
  width: 55px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin: 0 0 0 0;
}

.info-head2 {
  display: none;
}

.info ul li {
  width: 100px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  list-style-type: square;
  margin-right: 6px;
}

.daily-selection {
  width: 295px;
  height: 76px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 0.3rem;
  padding: 0.1rem;
}

/* Class to be hidden */
.daily-selection2 {
  display: none;
}

.list-of-course {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.4rem 0 0 -0.3rem;
  padding: 0.3rem;
}

.list-of-course a {
  text-decoration: none;
  color: #396df2;
  margin-left: -3px;
}

.list-of-course a:hover {
  text-decoration: underline;
  color: #396df2;
}

.btn {
  width: 180px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  text-align: center;
  text-decoration: none;
  border: 1px solid #396df2;
  border-radius: 16px;
}

.btn-desktop {
  display: none;
}

.btn:enabled {
  color: var(--skyblue);
  border-color: var(--skyblue);
  border: 1px solid var(--skyblue);
}

.btn:disabled {
  color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
}

.btn:hover {
  color: var(--white);
  border-color: var(--skyblue);
  background-color: var(--skyblue);
}

.btn:active {
  color: var(--white);
  border: 1px solid rgb(10, 10, 177);
  background-color: rgb(10, 10, 177);
}

/* media query for work section */
@media (max-width: 375px) {
  .snapShoot-portfolio {
    width: 40%;
    height: 70%;
    padding: 20px;
  }

  .daily-selection {
    width: 85%;
    height: 90%;
  }
}

/* =======================================================footer====================================================================================== */
.footer-container {
  position: relative;
  height: 1268px;
  background: var(--white);
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 1rem 0 0 0;
  padding: 1rem;
}

.about-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  margin-top: 15rem;
}

.about-myself {
  width: 300px;
  height: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--dark-blue);
  margin: 32px 0 0 2px;
  padding: 4px;
}

.language-container {
  /* border: 2px solid blue; */
  width: 100%;
  margin-top: 2rem;
}

.about-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 2px 0 1px 0;
  padding: 4px;
  color: var(--dark-blue);
}

.btn-connect {
  text-decoration: none;
  color: #396df2;
  display: flex;
  justify-content: flex-start;
}

.btn-connect h4 {
  color: var(--skyblue);
  font-size: 24px;
  font-weight: 500;
}

.btn-connect:hover {
  text-decoration: underline;
  color: #396df2;
}

form > div {
  margin-top: 0.5rem;
}

.language {
  margin: 1.2rem 0.5rem 0.7rem 0.5rem;
  font-size: 24px;
  font-weight: 500;
  padding: 6px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  background-color: var(--white);
}

.language > img {
  background-color: var(--white);
}

/* contact-form */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 2rem;
}

/* .separate {

} */

.soft-skill {
  display: flex;
  justify-content: space-between;
  align-self: center;
  border-bottom: 1px solid #ccc;
}

.web-lang {
  display: flex;
  justify-content: start;
  align-self: center;
  margin: 0.5rem;
  background-color: #ecdede;
}

.web-lang h5 {
  position: relative;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin: 25px 0 0 30px;
}

/* ==========================================contact-form========================================================== */
.contact-section {
  /* width:90%; */
  height: 775px;
  background: #6070ff;
  border-top-left-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: -8rem;
}

.contact-content {
  /* width: 375px; */
  background-image: url(../images/Img/contact-form-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
  z-index: 1;
}

.contact-me {
  margin-top: 6.4rem;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 2px 4px 2px 4px;
}

.about-us {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 12px 24px 0 24px;
}

input[type=text],
input[type=email],
textarea {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 15px 38px 15px 16px;
  width: 90%;
  border-radius: 10px;
  margin: 0 24px;
  color: #000;
}

input[type=text] {
  border: 1px solid orange;
  border-radius: 0;
}

textarea {
  color: #172b4d;
}

input[type=submit] {
  padding: 16px 12px;
  width: 80%;
  border-radius: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--skyblue);
  margin: 0.5rem 1.5rem 0 2.5rem;
  background: var(--white);
  float: right;
}

.btn-submit:hover {
  color: var(--white);
  background: var(--primary-color);
  transition: ease-out 2s;
}

input:focus,
textarea:focus {
  outline: none;
}

@keyframes logo {
  0% {
    transform: rotateX(90);
  }

  50% {
    transform: rotate(180);
  }

  100% {
    transform: rotate(360);
  }
}

/* ====================================================Desktop version============================================================================= */
