:root {
  --aliceblue: #e5e5e5;
  --white: #fff;
  --primary-color: #6070ff;
  --dark-blue: #344563;
  --skyblue: #7f8cff;
  --dark-grey: #505f79;
  --dark-black: #172b4d;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--aliceblue);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.wrapper {
  height: 100vh;
  margin: 0 auto;
}

/* ===================================================header================================================================================= */

.toolbar-container {
  background-color: var(--white);
  position: relative;
  z-index: 3;
  top: 0;
  width: 375px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 1.6rem;
  background-color: #6070ff;
  z-index: 5;
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2rem;
}

.mobile-menu li a {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #fff;
  text-decoration: none;
}

.mobile-menu-close-btn {
  align-self: end;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

header {
  position: relative;
  width: 375px;
  height: 80vh;
  background: var(--white);
  background-image: url(../images/Img/header-shapes\ mobile@2x.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.logo {
  width: 80px;
  height: 20px;
  font-weight: 700;
  line-height: 20px;
  color: var(--primary-color);
  padding: 6px;
  margin-left: 15px;
  text-decoration: none;
  font-size: 20px;
}

.humber {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 14px 0 0;
}

.vector {
  position: absolute;
}

.menu,
.menu-rails,
.desktop , .Portfolio-Desk-Card,
.owner-name2 , .info-head2
,.daily-selection2,.btn-desktop,.invisible {
  display: none;
}

.list-of-course {
  list-style-type: none;
  border: 1px solid orange;
  display: flex;
}

.icons a{
  margin-right: 8px;
  text-decoration: none;
}

.list-of-course li {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
  padding: 8px 12px;
  margin-right: 8px;

}
.header-intro {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.greeting {
  font-weight: 400;
  font-size: 35px;
  line-height: 36px;
  margin-top: 4rem;
  margin-bottom: 1rem;
  color: var(--dark-blue);
}

.intro {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-blue);
  padding: 8px;
  
}

h4 {
  height: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: var(--skyblue);
}

.social {
  display: flex;
  flex-direction: column;
}

.social-icons{
  display: flex;
}

.social-icons li{
  list-style-type: none;
}

/* ======================================Work section T====================================================== */
.work-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  /* width: 375px; */
  height: 90vh;
  background: var(--white);
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 1.3rem;
}

.snapShoot-portfolio {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  
}

.owner-name {
  display: block;
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--dark-black);
  margin-bottom: 1rem;
}

.identifier{
  border: 4px solid blue;
  margin-bottom: 1rem;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 0.5rem 0 0.5rem 0;
}

.info-head {
  width: 55px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin: 0 0 0 0;
}

.info ul li {
  width: 100px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  list-style-type: square;
  margin: 0 6px 0 16px;
}

.daily-selection {
  width: 80%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 0.3rem;
  padding: 0.1rem;
}
.language-icon{
  margin: 2rem 0 2rem 0;
}

/* Class to be hidden */
.btn {
  width:40%;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  text-align: center;
  text-decoration: none;
  border: 1px solid #396df2;
  border-radius: 16px;
}

.btn:enabled {
  color: var(--skyblue);
  border-color: var(--skyblue);
  border: 1px solid var(--skyblue);
}

.btn:disabled {
  color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
}

.btn:hover {
  color: var(--white);
  border-color: var(--skyblue);
  background-color: var(--skyblue);
}

.btn:active {
  color: var(--white);
  border: 1px solid rgb(10, 10, 177);
  background-color: rgb(10, 10, 177);
}

@media (max-width: 375px) {
  .daily-selection {
    width: 85%;
    height: 90%;
  }
}

/* =======================================================footer====================================================================================== */
.footer-container {
  position: relative;
  height: 1268px;
  background: var(--white);
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 1rem 0 0 0;
  padding: 1rem;
  width: 375px;
}

.about-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  margin-top: 15rem;
}

.about-myself {
  width: 300px;
  height: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--dark-blue);
  margin: 32px 0 0 2px;
  padding: 4px;
}

.language-container {
  width: 100%;
  margin-top: 2rem;
}

.about-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 2px 0 1px 0;
  padding: 4px;
  color: var(--dark-blue);
}

.btn-connect {
  text-decoration: none;
  color: #396df2;
  display: flex;
  justify-content: flex-start;
}

.btn-connect h4 {
  color: var(--skyblue);
  font-size: 24px;
  font-weight: 500;
}

.btn-connect:hover {
  text-decoration: underline;
  color: #396df2;
}

.language {
  margin: 1.2rem 0.5rem 0.7rem 0.5rem;
  font-size: 24px;
  font-weight: 500;
  padding: 6px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  background-color: var(--white);
}

.language > img {
  background-color: var(--white);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 2rem;
}

.soft-skill {
  display: flex;
  justify-content: space-between;
  align-self: center;
  border-bottom: 1px solid #ccc;
}

.web-lang {
  display: flex;
  justify-content: start;
  align-self: center;
  margin: 0.5rem;
  background-color: #ecdede;
}

.web-lang h4 {
  position: relative;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin: 25px 0 0 30px;
}

/* ==========================================contact-form========================================================== */
.contact-section {
  width: 375px;
  height: 775px;
  background: #6070ff;
  border-top-left-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: -8rem;
}

.contact-content {
  background-image: url(../images/Img/contact-form-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
  z-index: 1;
}

.contact-me {
  margin-top: 6.4rem;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 2px 4px 2px 4px;
}

.about-us {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 12px 24px 0 24px;
}

input[type='text'],
input[type='email'],
textarea {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 15px 38px 15px 16px;
  width: 90%;
  border-radius: 10px;
  margin: 0 24px;
  color:  #172b4d;
}

input[type='text'] {
  border: 1px solid orange;
  border-radius: 0;
}

input[type='submit'] {
  padding: 16px 12px;
  width: 80%;
  border-radius: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--skyblue);
  margin: 0.5rem 1.5rem 0 2.5rem;
  background: var(--white);
  float: right;
}

.btn-submit:hover {
  color: var(--white);
  background: var(--primary-color);
  transition: ease-out 2s;
}

input:focus,
textarea:focus {
  outline: none;
}

/* =============================================modal mobile+++++++++++++++++++++++++++++++++++++ */
.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  margin: 0 auto;
  opacity: 1;
}

.modal-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background: var(--white);
  z-index: 4;
  padding: 1rem;
  border-radius: 4%;
  overflow-y: scroll;
  height: 90%;
}

.modal-header {
  display: flex;
}

.modal-close-btn img {
  width: 30px;
  height: 10px;
  border: 4px solid green;
}

.modal-client-info-container {
  border: 1px solid orange;
  list-style: none;
  display: flex;
}

.modal-client-info-container li {
  margin-right: 15px;
}

.modal-image-container {
  border: 1px solid red;
  width: 100%;
  margin: 10px 0px;
}

.modal-bottom-container {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 100%;
  padding: 4px;

}

.details {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  margin-bottom: 0.4rem;
}

.project-detail-btn-container {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: start;
  align-self: center;
  gap: 4px;
}
.project-detail-btn {
  position: relative;
  width: 100%;
  height: 40px;
  margin-left: 6px;
  transition: none;
}

.project-detail-btn img {
  position: absolute;
  right: 0;

}

/* ===================================================================Desktop version======================================================== */

@media (min-width: 768px) {
  .wrapper {
    height: 90vh;
    margin: 0 auto;
  }

  .toolbar-container {
    background-color: var(--white);
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
  }

  .top-nav {
    width: 80%;
    margin: auto;
    align-items: center;
  }

  .humber {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .vector,
  .owner-name,
  .mobile,
  .daily-selection,
  .btn,.vector,
  .snapShoot-portfolio,.info-head {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 4px 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    transform: scale(1);
    transition: ease-in-out;
  }

  .menu a {
    text-decoration: none;
  }

  .menu a:hover {
    color: var(--white);
    background-color: var(--skyblue);
  }

   header {
    width: 100%;
    background-image: url(../images/Img/Header\ bg@2x.svg);
    background-repeat: no-repeat;
    border-bottom-left-radius: 15%;
    margin-top: 4.5rem;
    padding:0 8px;
  }

  .greeting {
    width: 80%;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;

  }

  .intro {
    width: 80%;
    font-size: 20px;
    line-height: 28px;
  }
  .social {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 4px;
    
  }

.social-icons{
  display: flex;
  width: 30%;
  display: flex;
}

  /* ======================================work section ============================================ */

  .work-section {
    width: 90%;
    height: 60%;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0 auto;
  }

  .image-container {
    width: 35%;
    margin: 0;
    padding: 0.1rem;
  }

  .Portfolio-Desk-Card {
    display: inline;
    width: 100%;
    border-radius: 8px;
  }

  .info-container {
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 3px solid red;
  }

  .owner-name2 {
    display: block;
    width: 100%;
    height: 36px;
    font-size: 30px;
    line-height: 52px;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    color: var(--dark-black);
    margin: 0.1rem 0 0.1rem 0;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
  }

  .info-head2 {
    display: block;
    width: 70px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    margin: 0.1rem 0 0.3rem 0;
  }

  .info-head {
    display: none;
  }

  .menu-rails {
    display: inline-block;
    font-weight: 500;
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    background: #ebebff;
    border-radius: 8px;
    padding: 3px;
    margin-right: 0.2rem;
  }

  .info ul li {
    width: 120px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7a869a;
    list-style-type: square;
    margin-right: 16px;
  }

  .daily-selection2 {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    margin: 1rem 0 1rem 0;
    padding: 0.4rem;
  }

  .flex-order {
    order: 2;
  }

  /* -------------------------------------------Footer------------------------------------- */
  .footer-container {
    position: relative;
    width: 100%;
    border-top-right-radius: 16%;
  }

  .about-section {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 4rem 10rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    flex: 1;
  }

  .about-myself {
    width: 100%;
    height: 50px;
    font-size: 33px;
    margin: 32px 0 0 2px;
    padding: 8px;
  }

  .about-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 4px 0 1px 0;
    padding: 6px 10px;
    color: var(--dark-blue);
    justify-content: center;
  }

  .btn-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    text-align: center;
    text-decoration: none;
    border: 1px solid #396df2;
    border-radius: 16px;
    width: 25%;
  }

  .btn-desktop:enabled {
    color: var(--skyblue);
    border-color: var(--skyblue);
    border: 1px solid var(--skyblue);
  }

  .btn-desktop:disabled {
    color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
  }

  .btn-desktop:hover {
    color: var(--white);
    border-color: var(--skyblue);
    background-color: var(--skyblue);
  }

  .btn-desktop:active {
    color: var(--white);
    border: 1px solid rgb(10, 10, 177);
    background-color: rgb(10, 10, 177);
  }

  .language-container {
    margin-top: 0.5rem;
    flex: 1;
  }

  .soft-skill {
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-bottom: 1px solid #ccc;
  }

  .weblang-container {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 140px;
    margin: 0.5rem;
  }

  .web-lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 90px;
    width: 100px;
    margin: 0.5rem;
    padding: 3px;
  }

  .web-lang img {
    width: 50px;
    height: 60px;
  }

  .web-lang h4 {
    font-size: 14px;
    margin: 0.1rem 1rem;
  }

  /* ========================================Contact me ========================================================= */
  .contact-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .contact-content {
    width: 100%;
    background-image: url(../images/Img/contact\ formbackground\ shapes@2x.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 6rem;
  }

  .contact-me {
    margin-top: 8rem;
  }

  .about-us {
    width: 35%;
    margin: 2rem 2rem 0 2rem;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  input[type='text'],
  input[type='email'] {
    height: 48px;
    width: 435px;
    border-radius: 2px;
  }

  textarea {
    border-radius: 2px;
  }

  /* --------------------------modal-desktop------------------------------------ */
  .modal-container {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: 80%;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .modal-bottom-container {
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 12px;
    width: 100%;
    margin-top: 1rem;
    height: 90%;
  }
  .modal-bottom-left-side {
    border: 1px solid orange;
    width: 70%;
  }

  .details {
    width: 100%;
    display: flex;
    flex: 1;
  }

  .side-container {
    border: 2px solid rgb(0, 113, 128);
    display: flex;
    flex-direction: column;
    padding: 4px;
    height: 100%;
  }
}

@media (max-width < 375px) {
  .side-container {
    flex-direction: column;
    border: 1px solid blue;
  }
}
